version: "3.9"
services:
  api-gateway:
    build: "./api-gateway"
    depends_on:
      - reviews-service
      - users-service
    environment:
      - REVIEWS_SERVICE_URI=http://reviews-service:7200/api/reviews/
      - USERS_SERVICE_URI=http://users-service:7201/api/users/
    ports:
      - 7100:7100
    volumes:
      - ./api-gateway:/opt/app

  reviews-service:
    build: "./reviews-service"
    depends_on:
      - reviews-service-db
    environment:
      - DB_URI=mysql://root:password@reviews-service-db/db?charset=UTF8
    ports:
      - 7200:7200
    volumes:
      - ./reviews-service:/opt/app

  reviews-service-db:
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db
    image: mysql:5.7.39
    ports:
      - 0.0.0.0:7300:3306

  users-service:
    build: "./users-service"
    depends_on:
      - users-service-db
    environment:
      - DB_URI=postgres://postgres:password@users-service-db/db?schema=public
    ports:
      - 7201:7201
    volumes:
      - ./users-service:/opt/app

  users-service-db:
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    image: postgres:14.5
    ports:
      - 0.0.0.0:7301:5432