@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
  background: white;
  margin: 0;
  font-family: "Open Sans";
}

header {
  background: #f7f7f7;
}

header a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

header div {
  color: grey;
  text-decoration: none;
}

header .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 20px;
}

nav button {
  background: #ddd;
  border: 0;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
  font-family: "Open Sans";
}

.pages {
  max-width: 1500px;
  padding: 30;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  margin-top: 20px;
}

.home button {
  background: #ddd;
  border: 0;
  padding: 10px;
  cursor: pointer;
  font-family: "Open Sans";
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.review-details {
  width: 100%;
  height: 100px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.review-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.review-details p {
  margin: 0;
  color: #555;
}

.review-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #ccc;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1.5 solid #eee;
  box-sizing: border-box;
}

form button {
  background: #ddd;
  border: 0;
  padding: 10px;
  cursor: pointer;
  font-family: "Open Sans";
}

input.error {
  border: 1.5px solid red;
}

div.error {
  padding: 10px;
  color: red;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

form.login {
  max-width: 300px;
  margin: 20px auto;
}

form.signup {
  max-width: 300px;
  margin: 20px auto;
}